<div class="row">
    <div class="col-md-12">
      <div class="innerpagem ps-3 pe-3 pb-3">
        <div class="list-group leagues">
          <a href="cricket-leagues.html" class="list-group-item list-group-item-action"
            aria-current="true">The current link item</a>
          <a  class="list-group-item list-group-item-action">A second link item</a>
          <a  class="list-group-item list-group-item-action">A third link item</a>
          <a  class="list-group-item list-group-item-action">A fourth link item</a>
          <a  class="list-group-item list-group-item-action">A second link item</a>
          <a  class="list-group-item list-group-item-action">A third link item</a>
          <a  class="list-group-item list-group-item-action">A fourth link item</a>
          <a  class="list-group-item list-group-item-action">A second link item</a>
          <a  class="list-group-item list-group-item-action">A third link item</a>
          <a  class="list-group-item list-group-item-action">A fourth link item</a>
          <a  class="list-group-item list-group-item-action border-0">A disabled link item</a>
        </div>
      </div>
    </div>
  </div>