<!--body start-->
<div class="row m-0">
    <div class="col-md-12 pb-2 pt-2">
      <a href="" class="text-white small text-decoration-none"><i class="fa fa-arrow-alt-circle-left"></i> Rules &
        Regulations</a>
    </div>
    <hr class="text-pink">
    <!--Artical Start-->
    <div class="col-md-12 ps-5 pe-5 accordionn">
      <div class="innerpagem" [innerHTML]="termCond">
        <!--Rules & Regulations start-->

        <!--Write your code here-->
        <!-- {{termCond}} -->

        <!--Rules & Regulations end-->
      </div>
    </div>
    <!--Artical end-->
  </div>
  <!--Body end-->