<div class="row">
    <div class="col-md-12 accordionn">
      <div class="innerpagem">
        <ul class="nav nav-tabs justify-content-center border-0" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active':isBetSlipActive}" id="betslip-tab" data-bs-toggle="tab" data-bs-target="#betslip"
              type="button" role="tab" aria-controls="betslip" aria-selected="true">BETSLIP</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active':!isBetSlipActive}" id="openbets-tab" data-bs-toggle="tab" data-bs-target="#openbets"
              type="button" role="tab" aria-controls="openbets" aria-selected="false">OPEN BETS</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!--Betslip start-->
          <div class="tab-pane fade" [ngClass]="{'show active':isBetSlipActive}" id="betslip" role="tabpanel" aria-labelledby="betslip-tab">
            <div class="card">
              <p class="card-header text-dark">Chattogram Challengers v Khulna Tigers Chattogram Challengers
              </p>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 pe-4">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="number">
                            <span class="minus">-</span>
                            <input type="number" [(ngModel)]="betSlipParams['odds']" name="odds"/>
                            <span class="plus">+</span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <input type="number" class="form-control" placeholder="Stake" [(ngModel)]="betSlipParams['stake']"  name="stake">
                          <!-- <span class="text-danger">Stake is required</span> -->
                        </div>
                        <div class="col-md-6">
                          <p class="text-dark">or Choose You Stake Size</p>
                        </div>
                        <div class="col-md-6 text-end">
                          <a class="text-pink" >EDIT STAKES</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 mb-1"><button type="button"
                            class="btn btn-sm w-100 rounded-pill bg-pink">+10000</button> </div>
                        <div class="col-md-4 mb-1"><button type="button"
                            class="btn btn-sm w-100 rounded-pill bg-pink">+50000</button> </div>
                        <div class="col-md-4 mb-1"><button type="button"
                            class="btn btn-sm w-100 rounded-pill bg-pink">+100000</button> </div>
                        <div class="col-md-4 mb-1"><button type="button"
                            class="btn btn-sm w-100 rounded-pill bg-pink">+10000</button> </div>
                        <div class="col-md-4 mb-1"><button type="button"
                            class="btn btn-sm w-100 rounded-pill bg-pink">+10000</button> </div>
                        <div class="col-md-4 mb-1"><button type="button"
                            class="btn btn-sm w-100 rounded-pill bg-pink">+30000</button> </div>
                        <div class="col-md-6 mt-3"><button type="button"
                            class="btn btn-sm border-pink w-100 rounded-pill">Cancel</button> </div>
                        <div class="col-md-6 mt-3"><button type="submit"
                            class="btn btn-sm border-pink w-100 rounded-pill" (click)="onClickPlaceBet()">Place </button> </div>
                      </div>
                      <p class="text-bold text-pink mt-3"><i class="fa fa-exclamation-circle"
                          aria-hidden="true"></i> Min Bet: 500 Max Bet: 1000000 Max Winning: 5000000</p>
                      <div class="form-group">
                        <label class="form-check-label text-dark" for="gridCheck">Confirm bets before
                          placing</label>
                        <label class="switch float-end"> <input type="checkbox" checked> <span
                            class="slider round"></span></label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Betslip end-->
          <!--Open bet start-->
          <div class="tab-pane fade" [ngClass]="{'show active':!isBetSlipActive}" id="openbets" role="tabpanel" aria-labelledby="openbets-tab">
            <div class="row">
              <div class="col-md-12 p-4 pb-0">
                <div class="accordion rightacco" id="accordionExample">
                  <div class="accordion-item mb-1 ">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Unmatched Bets</button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body text-white">
                        <div class="form-check border-bottom border-secondary mb-2">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Average Odds
                          </label>
                        </div>
                        <p class="mb-1">Auckland v Wellington</p>
                        <table class="table text-white small">
                          <tr>
                            <th class="ps-0">Match Odds</th>
                            <th>Odds</th>
                            <th>Stake</th>
                            <th>Profit/Liability</th>
                          </tr>
                          <tr class="colblue">
                            <td>Wellington</td>
                            <td>1.62</td>
                            <td>6,500</td>
                            <td>4,030</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-1">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Matched Bets</button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body text-white">
                        <div class="form-check border-bottom border-secondary mb-2">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Average Odds
                          </label>
                        </div>
                        <p class="mb-1">Auckland v Wellington</p>
                        <table class="table text-white small">
                          <tr>
                            <th class="ps-0">Match Odds</th>
                            <th>Odds</th>
                            <th>Stake</th>
                            <th>Profit/Liability</th>
                          </tr>
                          <tr class="colblue">
                            <td>Wellington</td>
                            <td>1.62</td>
                            <td>6,500</td>
                            <td>4,030</td>
                          </tr>
                        </table>

                        <p class="mb-1">Auckland v Wellington</p>
                        <table class="table text-white small">
                          <tr>
                            <th class="ps-0">Match Odds</th>
                            <th>Odds</th>
                            <th>Stake</th>
                            <th>Profit/Liability</th>
                          </tr>
                          <tr class="colblue">
                            <td>Wellington</td>
                            <td>1.62</td>
                            <td>6,500</td>
                            <td>4,030</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-1">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Premium SportsBook Bets <a class="btn btn-danger btn-sm ms-3">CANCEL </a></button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body text-white">
                        <div class="form-check border-bottom border-secondary mb-2">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Average Odds
                          </label>
                        </div>
                        <p class="mb-1">Auckland v Wellington</p>
                        <table class="table text-white small">
                          <tr>
                            <th width="25%" class="ps-0">Match Odds</th>
                            <th width="25%"></th>
                            <th width="25%"></th>
                            <th width="25%" class="text-end"> <a href=""
                                class="text-danger text-decoration-none">CANCEL</a></th>
                          </tr>
                          <tr>
                            <td>Wellington</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="colblue">
                            <td>Odds<br>
                              <p class="bg-white text-dark p-2 mb-0">1.62</p>
                            </td>
                            <td>Stake<br>
                              <p class="bg-white text-dark p-2 mb-0">1.62</p>
                            </td>
                            <td>Profit<br>
                              <p class="p-2 mb-0">1.62</p>
                            </td>
                            <td class="text-end"><a href="" class=" btn btn-danger mt-3 mb-0">X</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Open bet end-->
        </div>
      </div>
    </div>
  </div>