<div class="row m-0">
  <div class="col-md-12 pb-2 pt-2">
    <a class="text-pink small text-decoration-none"
      ><i class="fa fa-angle-left text-white"></i> Bet History</a
    >
  </div>
  <hr class="text-pink" />
  <!--Artical Start-->

  <form [formGroup]="betHistoryForm">
    <div class="col-md-12 ps-5 pe-5">
      <div class="row mb-4">
        <div class="col-md-3 mb-2">
          <select
            formControlName="sportId"
            name="game"
            id="casinogame"
            class="w-100 rounded-pill btn btn-md bg-dark text-white border-pink"
          >
            <option *ngFor="let sport of allSports" value="{{ sport.sportId }}">
              {{ sport.sportName }}
            </option>
          </select>
        </div>
        <div class="col-md-3 mb-2">
          <select
            formControlName="status"
            name="game"
            id="casinogame"
            class="w-100 rounded-pill btn btn-md bg-dark text-white border-pink"
          >
            <option value="Matched">Matched</option>
            <option value="Deleted">Deleted</option>
          </select>
        </div>
        <div class="col-md-4 mb-2">
          <div class="wrapper"></div>
          <!-- <input type="date" class="form-control"  placeholder="Date">  -->
          <date-range-picker
            [instanceId]="'secondDateRange'"
            [options]="options"
            [controlName]="'secondDateRange'"
            #dateRangePicker
            (rangeSelected)="rangeSelected($event)"
          >
            <div class="form-group">
              <div class="input-group">
                <input
                  id="secondDateRange"
                  class="w-100 rounded-pill btn btn-md ms-2 bg-dark text-white border-pink"
                  type="text"
                  name="dateRange"
                  [value]="dateRangePicker.range"
                  placeholder="From - To"
                />
              </div>
            </div>
          </date-range-picker>
        </div>
        <div class="col-md-2 mb-2">
          <button
            class="btn border-pink w-100 rounded-pill btn-pink"
            (click)="getBetHistoryForUser()"
          >
            Submit
          </button>
        </div>
      </div>
      <div class="row gamedetails tabetails mb-5">
        <div class="col-md-9">
          Show
          <select
            (change)="updateLimit($event)"
            class="form-select-sm border-pink bg-dark text-white p-2 rounded-3 ms-2 me-2"
          >
            <option>25</option>
            <option>50</option>
            <option>75</option>
            <option>100</option>
          </select>
          Entries
        </div>
        <div class="col-md-3 d-flex justify-content-end">
          <span class="pt-2">Search : </span>
          <input
            type="text"
            formControlName="search"
            placeholder="Search"
            class="ms-2 form-control-sm rounded-pill border-pink bg-transparent text-white"
            [(ngModel)]="searchTerm"
            (ngModelChange)="search()"
          />
        </div>
        <div class="col-md-12 mt-3 mb-3">
          <div
            *ngIf="betHistoryList.length == 0"
            class="border text-center p-5"
          >
            <h4 *ngIf="betHistoryList.length == 0 && !isLoading">
              No data found
            </h4>
            <h4 *ngIf="isLoading">Loading...</h4>
          </div>
          <table
            *ngIf="betHistoryList.length !== 0"
            class="table table-striped table-hover border-0"
          >
            <thead>
              <tr>
                <th class="text-center coldark tstartcol">Event Name</th>
                <th class="text-center pe-0 coldark">Selection</th>
                <th class="text-center pe-0 coldark">Bet Type</th>
                <th class="text-center pe-0 coldark">User Rate</th>
                <th class="text-end pe-0 coldark">Amount</th>
                <th
                  *ngIf="betHistoryStatus == 'Matched'"
                  class="text-end pe-0 coldark"
                >
                  Profit/Loss
                </th>
                <th *ngIf="betHistoryStatus !== 'Matched'" class="pe-0 coldark">
                  Remarks
                </th>
                <th class="text-center pe-0 coldark">Placed Date</th>
                <th class="text-center coldark tlastcol">Matched Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let betHistory of betHistoryList">
                <td
                  *ngIf="betHistory.betType == 'BACK'"
                  class="colblue p-3 border-start-0"
                >
                  {{ betHistory.eventName }}
                </td>
                <td
                  *ngIf="betHistory.betType !== 'BACK'"
                  class="colpink p-3 border-start-0"
                >
                  {{ betHistory.eventName }}
                </td>
                <td *ngIf="betHistory.betType == 'BACK'" class="colblue">
                  {{ betHistory.selection }}
                </td>
                <td *ngIf="betHistory.betType != 'BACK'" class="colpink">
                  {{ betHistory.selection }}
                </td>
                <td *ngIf="betHistory.betType == 'BACK'" class="colblue">
                  {{ betHistory.betType }}
                </td>
                <td *ngIf="betHistory.betType !== 'BACK'" class="colpink">
                  {{ betHistory.betType }}
                </td>
                <td *ngIf="betHistory.betType == 'BACK'" class="colblue">
                  {{ betHistory.odds }}
                </td>
                <td *ngIf="betHistory.betType !== 'BACK'" class="colpink">
                  {{ betHistory.odds }}
                </td>
                <td
                  *ngIf="betHistory.betType == 'BACK'"
                  class="colblue text-end"
                >
                  <span>{{betHistory.amount}}</span>
                </td>
                <td
                  *ngIf="betHistory.betType !== 'BACK'"
                  class="colpink text-end"
                >
                  <span>{{betHistory.amount }}</span>
                </td>
                <td
                  *ngIf="
                    betHistory.betType == 'BACK' &&
                    betHistoryStatus == 'Matched'
                  "
                  class="colblue text-end"
                >
                <span *ngIf="betHistory.profitLoss >= 0" class="text-success text-center">
                  {{ betHistory.profitLoss }}
                </span>
                <span *ngIf="betHistory.profitLoss < 0" class="text-danger">
                  {{ betHistory.profitLoss }}
                </span>
                </td>

                <td
                  *ngIf="
                    betHistory.betType !== 'BACK' &&
                    betHistoryStatus == 'Matched'
                  "
                  class="colpink text-end"
                >
                <span *ngIf="betHistory.profitLoss >= 0" class="text-success">
                  {{ betHistory.profitLoss }}
                </span>
                <span *ngIf="betHistory.profitLoss < 0" class="text-danger">
                  {{ betHistory.profitLoss }}
                </span>
                </td>

                <td
                  *ngIf="
                    betHistory.betType == 'BACK' &&
                    betHistoryStatus !== 'Matched'
                  "
                  class="colblue"
                >
                  {{ betHistory.remarks }}
                </td>
                <td
                  *ngIf="
                    betHistory.betType !== 'BACK' &&
                    betHistoryStatus !== 'Matched'
                  "
                  class="colpink"
                >
                  {{ betHistory.remarks }}
                </td>

                <td *ngIf="betHistory.betType == 'BACK'" class="colblue">
                  {{ betHistory.placedTime |  date :'MMM d, y, h:mm:ss a'}}
                </td>
                <td *ngIf="betHistory.betType !== 'BACK'" class="colpink">
                  {{ betHistory.placedTime |  date :'MMM d, y, h:mm:ss a'}}
                </td>
                <td *ngIf="betHistory.betType == 'BACK'" class="colblue">
                  {{ betHistory.matchedTime |  date :'MMM d, y, h:mm:ss a'}}
                </td>
                <td *ngIf="betHistory.betType !== 'BACK'" class="colpink">
                  {{ betHistory.matchedTime |  date :'MMM d, y, h:mm:ss a'}}
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="betHistoryList.length > 0 && !this.isLoading">
            <button
              class="btn bg-dgrey rounded-pill text-white"
              [disabled]="currentPage === 1"
              (click)="prev()"
            >
              Prev
            </button>
            <span class="btn btn-pink rounded-pill text-white ps-4 pe-4"
              >{{ currentPage }} / {{ totalPages }}
            </span>
            <button
              class="btn bg-dgrey rounded-pill text-white"
              [disabled]="currentPage === totalPages"
              (click)="next()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
      <!--Artical end-->
    </div>
  </form>
</div>
