<!--Registration start-->
<div class="w-30 m-auto">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
    <div class="text-center"><img src="/assets/images/logo.png" width="60%"></div>
    <div class="row login pb-4 pt-5">
      <div class="input-group pt-3">
        <input type="text" class="form-control" placeholder="Name" formControlName="name">
        <span class="input-group-text bg-white">
          <span class="fa fa-user text-dark"></span>
        </span>
        <!-- <div id="validationServer03Feedback" class="invalid-feedback">
          Please provide a valid name.
        </div> -->
      </div>
      <div class="input-group mt-4">
        <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNo">
        <span class="input-group-text bg-white">
          <span class="fa fa-phone text-dark"></span>
        </span>
      </div>
      <div class="input-group">
        <button type="submit" class="btn btn-light bg-pink border-0 mt-4 w-100 pt-3 pb-3"
          [disabled]="signUpForm.invalid">
          <i class="busy" *ngIf="isLoading"></i>
          <span *ngIf="!isLoading">REGISTER</span>
        </button>
      </div>
      <div class="col mt-4 text-center text-white">
        <span class="text-white"> Already a member?</span> <a routerLink="/login" class="p-1 ps-2 pe-2 btn btn-outline-pink ms-2">LOGIN</a><br>
        <span class="small pt-3"> Powered by </span><br>
        <img src="/assets/images/betfair_logo.png" width="150px">
      </div>
    </div>
  </form>
</div>

<!--Registration end-->