<!--body start-->
<div class="row m-0">
    <div class="col-md-12 pb-2 pt-2">
        <a  class="text-pink small text-decoration-none"><i class="fa fa-angle-left text-white"></i> Betting
            P&L</a>
    </div>
    <hr class="text-pink">
    <!--Artical Start-->
    <div class="col-md-12 ps-5 pe-5 accordionn">
        <div class="row mb-4">
            <div class="col-md-4">
                <!-- <label class="text-white" for="games">Games </label> -->
                <select name="game" id="casinogame"
                    class="w-100 rounded-pill btn btn-md ms-2 bg-dark text-white border-pink">
                    <option value="all">All</option>
                    <option value="LiveCasino">LiveCasino</option>
                    <option value="CardGame">CardGame</option>
                    <option value="SportsBook">SportsBook</option>
                    <option value="PremiumSportbook">PremiumSportbook</option>
                    <option value="Racing">Racing</option>
                </select>
            </div>
            <div class="col-md-4">
                <div class="wrapper"></div>
                <!-- <input type="date" class="form-control"  placeholder="Date">  -->
                <input type="date" class="w-100 rounded-pill btn btn-md ms-2 bg-dark text-white border-light"
                    data-drops="up">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-md w-100 rounded-pill bg-pink text-white">Search</button>
            </div>
        </div>
        <div class="innerpagem">
            <!--Betting P&L start-->
            <div class="row p-0 mb-1">
                <!-- accordin -->
                <div class="col-md-12 pb-0 ps-4 pe-4" *ngFor="let pl of profitLoss;let i= index;">
                    <div class="accordion rightacco" id="accordionExample">
                        <div class="accordion-item mb-1 ">
                            <h2 class="accordion-header" id="heading_one">
                                <button class="accordion-button collapsed text-dark" type="button"
                                    data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse_one'+ i" aria-expanded="false"
                                    aria-controls="collapse_one">
                                    {{pl.settledDate | date}}</button>
                            </h2>
                            <div id="collapse_one{{i}}" class="accordion-collapse collapse" aria-labelledby="collapse_one"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body ps-3 pe-3 text-dark bg-white">
                                    <div class="row">
                                        <div class="col-md-6 pe-5">
                                            <h6>SportBook</h6>
                                        </div>
                                        <div class="col-md-3">
                                            <p><strong>Comm :</strong></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="float-end">0</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pe-5">
                                            <h6><a > {{pl.matchName}}-{{pl.marketName}}</a></h6>
                                        </div>
                                        <div class="col-md-3">
                                            <p><strong>Net Win :</strong></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="float-end" [ngClass]="pl.netAmt>=0?'text-success':'text-danger'">{{pl.netAmt}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pe-5">
                                            <h6><strong>Settled Date: </strong>{{pl.settledDate | date}}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pe-5">
                                            <h6><strong>Winner: </strong>{{pl.winningHorseName}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            <!--Betting P&L end-->

        </div>
    </div>
    <!--Artical end-->
</div>
<!--Body end-->