<div class="row m-0">
  <div class="col-md-12 pb-2 pt-2">
    <a class="text-color small text-decoration-none h6"><i class="fa fa-angle-left text-white pointer"  (click)="goBack()"></i>&nbsp;&nbsp;
      Account Statement</a>
  </div>
  <hr class="text-color">
  <!--Artical Start-->
  <div class="col-md-12 ps-5 pe-5" [formGroup]="filterForm">
    <div class="row mb-4 ps-0">
      <!-- <div class="col-md-3 mb-2">
        <input type="date" class="form-control rounded-pill bg-transparent text-white border-colour" formControlName="fromDate">
      </div>
      <div class="col-md-3 mb-2">
        <input type="date" class="form-control rounded-pill bg-transparent text-white border-colour" formControlName="toDate">
      </div> -->
      <div class="col-md-4 mb-2">
        <div class="wrapper"></div>
        <!-- <input type="date" class="form-control"  placeholder="Date">  -->
        <date-range-picker
          [instanceId]="'secondDateRange'"
          [options]="options"
          [controlName]="'secondDateRange'"
          #dateRangePicker
          (rangeSelected)="rangeSelected($event)"
        >
          <div class="form-group">
            <div class="input-group">
              <input
                id="secondDateRange"
                class="w-100 rounded-pill btn btn-md ms-2 bg-dark text-white border-colour"
                type="text"
                name="dateRange"
                [value]="dateRangePicker.range"
                placeholder="From - To"
              />
            </div>
          </div>
        </date-range-picker>
      </div>
      <div class="col-md-4 mb-2">
        <!-- <label class="text-white" for="games">Games </label> -->
        <select name="game" id="casinogame" class="w-100 rounded-pill btn btn-md bg-dark text-white border-colour" formControlName="sportId">
          <!-- <option value="all">All</option> -->
          <option *ngFor="let sport of allSports" value="{{ sport.sportId }}">
            {{ sport.sportName }}
          </option>
          <!-- <option value="CardGame">Game Report</option> -->
        </select>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn-sm border-colour w-100 rounded-pill btn-pink" (click)="getAccountStatement()">Submit</button>
      </div>
    </div>
    <div class="row gamedetails tabetails mb-5 ms-2">
      <div class="col-md-6">
        Show
        <select
          (change)="updateLimit($event)"
          class="form-select-sm border-colour bg-dark text-white p-2 rounded-3 ms-2 me-2"
        >
          <option>25</option>
          <option>50</option>
          <option>75</option>
          <option>100</option>
        </select>
        Entries
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <span class="pt-2">Search : </span>
          <input
            type="text"
            formControlName="search"
            placeholder="Search"
            class="ms-2 form-control-sm rounded-pill border-colour bg-transparent text-white"
            [(ngModel)]="searchTerm"
            (ngModelChange)="search()"
          />
      </div>
      <div class="col-md-2">
        <button *ngIf ="accountStatement.length >0 " type="button" class="btn btn-md w-50 rounded-pill ms-2 bg-color text-white mt-2" (click)="exportExcel()">Export</button>
      </div>
      <div class="col-md-12 mt-3 ms-2">
        <div *ngIf="accountStatement.length == 0" class="text-center p-5">
          <h4 *ngIf="accountStatement.length == 0 && !isLoading">No data found</h4>
          <h4 *ngIf="isLoading">Loading...</h4>
        </div>
        <table  *ngIf="accountStatement.length !== 0" class="table table-striped table-hover border-0">
          <thead>
            <tr>
              <th class="text-center pe-0 tstartcol coldark">Sr No</th>
              <th class="text-center coldark  ps-3">Date</th>
              <th class="text-center pe-0 coldark">Credit</th>
              <th class="text-center pe-0 coldark">Debit</th>
              <th class="text-center pe-0 coldark">Balance</th>
              <th class="text-center coldark tlastcol">Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let acctstatement of accountStatement;let i= index;">
              <td class="text-center">{{i+1}}</td>
              <td class="p-3 text-center">{{acctstatement.date |  date :'MMM d, y, h:mm:ss a'}}</td>
              <td class="text-center">
                <span [ngClass]="acctstatement.credit> 0 ?'text-success':'text-danger'" *ngIf= "acctstatement.credit == 0 ? '':'-'">{{acctstatement.credit | number}}</span>
                <span  *ngIf= "acctstatement.credit == 0 "><strong>-</strong></span>
              </td>
              <td class="text-center">
                <span  [ngClass]="acctstatement.debit> 0 ?'text-success':'text-danger'"  *ngIf= "acctstatement.debit == 0 ? '':'-'">{{acctstatement.debit | number}}</span>
                <span  *ngIf= "acctstatement.debit == 0 "><strong>-</strong></span>
              </td>
              <td class="text-center">{{acctstatement.balance | number}}</td>
              <td>{{acctstatement.remark}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="accountStatement.length > 0 && !this.isLoading">
          <button
            class="btn bg-dgrey rounded-pill text-white"
            [disabled]="currentPage === 1"
            (click)="prev()"
          >
            Prev
          </button>
          <span class="btn btn-pink rounded-pill text-white ps-4 pe-4"
            >{{ currentPage }} / {{ totalPages }}
          </span>
          <button
            class="btn bg-dgrey rounded-pill text-white"
            [disabled]="currentPage === totalPages"
            (click)="next()"
          >
            Next
          </button>
        </div><br>
      </div>
    </div>
    <!--Artical end-->
  </div>
