
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/*theme one start*/
$color_1: #fff;
$color_2: #ffa7a3;
$color_3: #000;
$color_4: #ffa7a357;
$color_5:#ffa7a32e;
$color_6:#0009;
$background-color_1: #202121;
$background-color_2: #fff;
$background-color_3: #6abefa;
$background-color_4: #6abefa5e;
$background-color_5: hsla(205.2, 29%, 58%, 0.86);
$background-color_6: #ffb9b5;
$background-color_7: #ffb9b560;
$background-color_8: hsla(3.5, 21.3%, 52.2%, 0.78);
$background-color_9: #d9d9d9;
$border-color_1: inherit;
$borderrgb:rgba(255, 167, 163, 0.2);
$headtwoborder:#3e404000;
$asideborder:rgba(255, 167, 163);
$red-bg:#b70800;
$gamedetails:#3c3e3eb8;
$coldark:#272727;
$login:#ffffff52;
$loginbg:#6c6c6c82;
$formred:#dc3545;
$overlay:rgba(2, 2, 2, 0.8);
$innerpagebg:#1f1f1f;
$searchinp:#2d2d2d;
$plusminus:#ddd;
$leagues:#373737;
$rightacco:#0f0f0f;
$accordion-body:#404040;
$slider:#ccc;
$inputslide:#2196f3;
$favselected:#464646;
$suspended:rgba(38, 38, 38, 0.63);
$loaderborder:#c0c0c0;
$loaderbordertop:#585858;
$searchlist:#626262;
$searchlisthover:rgba(60, 62, 62, 0.7215686275);
$searchbg:#343535;
$searchborder:rgba(0,0,0,.15);
$searchdd:rgb(83, 83, 83);
$busy:#555;
$tooltipnk:#797979;
$searchddm:#212529;
/*theme one end*/

.browncolor {
  background-color: $background-color_1;
}
.bg-pink {
  background: $color_2 !important;
}
.border-pink {
  border: 1px solid $color_2;
}
.btn {
  font-size: 12px;
}
.btn-pink{
  color:$color_1;
}
.btn-pink:hover{
  background: $color_2;
  color: $color_3;
}
.form-control {
  font-size: 12px;
}
.w-30 {
  width:30%;
}
.pointer {cursor: pointer;}
.not-allowed {cursor: not-allowed;}
.timer {
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
}
.text-pink {
  color: $color_2 !important;
}
.btn-outline-pink {
  color: $color_2;
  border-color: $color_2;
}
.btn-outline-pink:hover {
  color: $color_3;
  background-color: $color_2;
  border-color: $color_2;
}
.bg-blur {
  filter: blur(4px);
  height: 100vh;
}
.accordion-button {
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
}
.header-one {
  border-bottom: 0.8px solid $borderrgb;
  background-color: $background-color_1;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-icon {
  width: 35px;
  height: 35px;
  background: $color_2;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  a {
    color: $color_1;
  }
}
.header-tow {
  background-image: linear-gradient(
    to top right,
    #3e4040,
    #303132,
    #222223,
    #151515,
    #000000
  );
  border-top: 0.8px solid $borderrgb;
  ul {
    padding: 0;
    margin: 5px 0 0 0;
    img {
      margin-top: -5px;
      width: 18px;
    }
  }
  li {
    a {
      font-size: 12px;
      color: $color_1;
      padding: 10px 15px;
      margin: 3px;
      border: 1px solid $headtwoborder;
      border-radius: 60px;
      &:hover {
        border: 1px solid $color_2;
        border-radius: 60px;
        color: $color_2;
      }
    }
    a.active {
      border: 1px solid $color_2;
      border-radius: 60px;
      color: $color_2;
    }
  }
  a {
    &:visited {
      color: $color_1;
    }
  }
}
.accordionn {
  ul {
    border-top: 0.8px solid $borderrgb;
    border-bottom: 0.8px solid $borderrgb !important;
  }
  .nav-tabs .nav-link {
    color: $color_1;
  }
  .nav-tabs .nav-link:hover {
    border: none;
  }
  .nav-tabs .nav-link.active {
    border: 0;
    border-bottom: 3px solid $color_2;
    background-color: $background-color_1;
    color: $color_2;
    border-radius: 0;
  }
  // .nav-tabs .nav-link{color: $color_1;}
}
.asidenav {
  // border-right: 1px solid #ffa8a34d;
  padding-top: 8px;

  ul {
    border: 1px solid $color_2;
    border-radius: 15px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a {
    color: $color_1;
    border-right: 3px solid $background-color_1;
    padding-top: 10px;
    padding-bottom: 10px;
    &:visited {
      color: $color_1;
    }
  }
  li {
    a.active {
      border-right: 3px solid $asideborder;
      background: $color_2;
    }
    a {
      &:hover {
        background-image: linear-gradient(
          to top right,
          #3e4040,
          #303132,
          #222223,
          #151515,
          #000000
        );
        border-right: 3px solid $asideborder;
        color: $color_1;
      }
    }
  }
}

.leftb-icon {
  width: 25px;
  height: 25px;
  background: $red-bg;
  border-radius: 50px;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  float: right;
}
.leftuser {
  background: $color_2;
  border-radius: 50px;
  margin: 0 5px;
  padding: 4px 0px 6px 3px;
  color: $color_1;
}
.leftuserhead {
  padding: 0px 0px 0px 10px;
  font-size: 13px;
  display: flex;
  margin-top: 10px;
}
.userb-icon {
  width: 35px;
  height: 35px;
  background: #b70800;
  border-radius: 50px;
  text-align: center;
  padding: 1px;
  font-size: 23px;
  float: right;
}

/*Table start*/
.gamedetails {
  border: 1px solid $color_4;
  margin-top: 30px;
  border-radius: 30px;
  padding: 15px 15px 0 15px;
  color: $color_1;
  font-size: 12px;
  background: $gamedetails;
  .table {
    background-color: $background-color_2;
    border-radius: 15px;
    vertical-align: middle;
    margin-bottom: 25px;
    td {
      vertical-align: middle;
      padding: 2px 5px;
      text-align: center;border-top: 2px solid $color_1;
      // line-height: 13px;
      line-height: 12px;
    }
    a {
      color: $color_3;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      // line-height: 13px;
      line-height: 12px;
    }
    span{
      font-size: 10px;
    }

  }
  th {
    border-color: $border-color_1;
    border-style: none;
    border-width: 0; font-size: .8rem;
    height: 50px;
    vertical-align: middle; font-weight: normal;
  }
  .heading{
    font-size: 10px;
    line-height: 12px;
  }
}
thead {
  border-color: $border-color_1;
  border-style: none;
  border-width: 0;
}
tr {
  border-color: $border-color_1;
  border-style: none;
  border-width: 0;
}
.table {
  .tfirstcol {
    border-top-left-radius: 15px;
    background: $color_2;
  }
}
.tlastcol {
  border-top-right-radius: 15px;
  background: $color_2;
}
.coldark {
  background: $coldark !important;
  color: $color_1;
}
.tstartcol {
  border-top-left-radius: 15px;
  background: $color_2;
}
//color box start
.colblue {
  background-color: $background-color_3 !important;
  border-left: 1px solid $color_1;
}
.colblue.light {
  background-color: $background-color_4 !important;
}
.colblue.dis {
  background-color: $background-color_5 !important;
}
.colpink {
  background-color: $background-color_6 !important;
  border-left: 1px solid $color_1;
}
.colpink.light {
  background-color: $background-color_7 !important;
}
.colpink.dis {
  background-color: $background-color_8 !important;
  font-size: 11px;
  // line-height: 13px;
  line-height: 11px;
}
.colgray {
  background-color: $background-color_9 !important;
  border-left: 1px solid $color_1;
}
.colpink.last {
  border-bottom-right-radius: 15px;
  border-right: 0px;
}
.colblue.last {
  border-bottom-right-radius: 15px;
  border-right: 0px;
}
.colblue.start {
  border-bottom-left-radius: 15px;
  border-left: 0px;
}
.colblue, .colblue.light, .colblue.dis, .colpink, .colpink.light, .colpink.dis, .colgray, .colpink.last{min-width: 45px; height: 40px;}

.boxeffect {
  -webkit-transition-duration: 0.4s;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  width: 110%;
  padding: 5px 0;
  margin: -9px;border-radius: 5px;
}
.boxeffect:after {
  content: "";
  background: #545a69;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.boxeffect:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
//color box end
/*Table end*/
/*login start*/
.login {
  border: 1px solid $login;
  border-radius: 25px;
  padding: 10px 35px;
  background: $loginbg;
  margin-top: 30px;
  a {
    text-decoration: none;color: $color_2;padding: 5px 10px;
  }
  a:hover{
    background: $color_5;
    padding: 5px 10px;
    border-radius: 5px;
    color: $color_2;
  }
  .btn {
    font-size: 14px; padding: 12px 10px;border-radius: 14px;
  }
  .form-control{line-height: 3.5;border-radius: 14px;border: 1px solid $color_2; border-right: none;}
  .form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: $formred;
    padding-right: calc(1.5em + .75rem);
    background-image: none;
  }
  .form-control::placeholder{
    font-size: 16px;
  }
  .form-control:focus{
    outline: none !important; box-shadow: none;
}
  .input-group-text{
    border: 1px solid $color_2;
    border-left: none;
    border-radius: 14px;
  }
}
/*login end*/
/*Right sidebar start*/
#overlay    {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: $overlay;
  z-index: 999;
  backdrop-filter: blur(1px);
}

#rightslider {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 250px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1000;
  background: $background-color_1;
  color: $color_1;
  font-size: 12px;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 2px $color_2;
  a {
    text-decoration: none;
    color: $color_1;
  }
}
#rightslider.toggled {
  padding-right: 250px;

  #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
  }
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
/*Right sidebar end*/

.innerpagem {
  border: 1px solid $color_4;
  border-radius: 30px;
  padding: 20px 0 0 0;
  color: $color_1;
  font-size: 12px;
  background: linear-gradient(180deg, $innerpagebg 35%, $color_3);
}
.search input,
.input-group-text {
  background-color: $searchinp;
  border: none;
  color: $color_1;
}
.midbadge {
  top: 7px;
position: relative;
padding: 7px 15px;
text-transform: uppercase;
font-style: italic;
}

.number {
  .minus,
  .plus {
    width: 27px;
    height: 33px;
    border-radius: 4px;
    padding: 4px 5px 4px 5px;
    border: 1px solid $plusminus;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: $color_3;
  }
  input {
    height: 33px;
    width: 71px;
    text-align: center;
    font-size: 18px;
    border: 1px solid $plusminus;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
}
.leagues {
  a {
    background: $color_3;
    color: $color_1;
    padding: 10px 10px;
    border-bottom: 1px solid $leagues;
  }
  a:hover {
    background: rgb(43, 42, 42);
    color: $color_1;
  }
}
.rightacco {
  .accordion-item {
    border-radius: 25px;
    border: none;
    background-color: $rightacco;
    color: $color_3 !important;
  }
  .accordion-item .accordion-button.collapsed {
    border-radius: 25px;
    background: $color_2;
    color: $color_3;
    margin-bottom: 25px;
  }
  .accordion-body {
    padding: 1rem 0.3rem 0rem 0.3rem;
    border: 1px solid $accordion-body;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 25px;
  }
  .accordion-button:not(.collapsed) {
    background-color: $color_2;
  }
  .accordion-body h6{font-size: 14px;}
  .accordion-body p{margin-bottom: 0;}
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $slider;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $inputslide;
}

input:focus + .slider {
  box-shadow: 0 0 1px $inputslide;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.favselected {
  background: $favselected;
  margin: 10px 5px;
  padding: 0;
  color: $color_1;
}
.favselected p {
  margin: 0;
}
.favselected a {
  border: 0px;
  display: block;
  color: $color_3;
  text-decoration: none;
}
.favselected a:visited {
  color: $color_3;
}
.favhead {
  background: $color_2;
  border-radius: 10px;
  margin: 15px 0 0 0;
  padding: 4px 0px 6px 3px;
  color: $color_1;
  position: relative;
  top: -5px;
}
.gamedetails1 {
  border-radius: 0px;
  padding: 5px;
  font-size: 12px;
  background: $color_1;
  text-align: center;
  color: $color_3;
}
.suspendedb {
  margin: 1px;
  position: relative;
}
.suspended {
  background: $suspended;
  color: $color_1;
  border-radius: 35px;
  padding: 6px;
  position: absolute;
  top: 3px;
  width: 96%;
  text-align: center;
  left: 4px;
  border: 0px;
}
/*suspended start*/
.suspendedbm1{
  position: relative;
  top: -25px;
}
.suspendedm1 {
  background: $suspended;
  color: $color_1;
  border-radius: 35px;
  padding: 13px 5px;
  position: absolute;
  top: 5px;
  text-align: center;
  border: 0px;
  width: 196px;
  font-size: 14px;
}
.suspendedm1.inplay-o{right:78px;}

.suspendedm1.marketlist-on{right:98px;}
.suspendedm1.marketlist-off{right:180px;}

.suspendedm1.tourmarketlist-on{right:96px;}
.suspendedm1.tourmarketlist-off{right:180px;}

.suspendedm1.matchmarketlist-on{right: 116px;}
.suspendedm1.matchmarketlist-off{right: 96px;}
/*suspended end*/

/*Loder start*/
.batsliploader.card-body{opacity: 0.3;}
.loader {
  position: absolute;
  left: 60%;
  top: 60%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 8px solid $loaderborder;
  border-radius: 50%;
  border-top: 8px solid $loaderbordertop;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.betbtn{
  font-size: 15px;
letter-spacing: 2px;
height: 45px;
}
.prof{
  font-size: 11px;
  margin-top: -5px;
}
.sec-text{
  position: relative;
}
.sec-text span{
  position: absolute;
  right: 5px;
  top: -36px;
  font-size: 11px;
}
.loadtime{
  position: absolute;
color: $color_3;
font-size: 18px;
font-weight: bold;
top: 47%;
left: 48%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Loder end*/

#loginregbg {
--s: 10vmin;
--p: calc(var(--s) / 2);
--c1: #ffc0e636;
--c2: #00418063;
--c3: #ffffff69;
--bg: var(--c3);
--d: 6000ms;
--e: cubic-bezier(0.76, 0, 0.24, 1);
background-image: linear-gradient(45deg, #ffc0e612 25%, $color_6 25%);
background-size: var(--s) var(--s);
background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1),
calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
animation: color var(--d) var(--e) infinite, position var(--d) var(--e) infinite;
background-color: $color_3;
padding-top: 4%;
height: 100vh;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position:
      calc(var(--p) *  1) calc(var(--p) *  0),
      calc(var(--p) * -1) calc(var(--p) *  1),
      calc(var(--p) *  1) calc(var(--p) * -1),
      calc(var(--p) * -1) calc(var(--p) *  0);
  }
  25% {
    background-position:
      calc(var(--p) *  1) calc(var(--p) *  4),
      calc(var(--p) * -1) calc(var(--p) *  5),
      calc(var(--p) *  1) calc(var(--p) *  3),
      calc(var(--p) * -1) calc(var(--p) *  4);
  }
  50% {
    background-position:
      calc(var(--p) *  3) calc(var(--p) * 8),
      calc(var(--p) * -3) calc(var(--p) * 9),
      calc(var(--p) *  2) calc(var(--p) * 7),
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position:
      calc(var(--p) *  3) calc(var(--p) * 12),
      calc(var(--p) * -3) calc(var(--p) * 13),
      calc(var(--p) *  2) calc(var(--p) * 11),
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position:
      calc(var(--p) *  5) calc(var(--p) * 16),
      calc(var(--p) * -5) calc(var(--p) * 17),
      calc(var(--p) *  5) calc(var(--p) * 15),
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

/*search start*/

.searchlist .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: 0;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  position: absolute;
  top: 12px;
  right: 10px; color:$searchlist;
}
.searchi{
  position: absolute;
left: 10px;
top: 8px;
color:$searchlist;
}
.searchinput{
  padding:5px 30px;
}

.searchlist .dropdown-menu {
  font-size: 1rem;
  color: $searchddm;
  text-align: left;
  list-style: none;
  width: 400px;
}

.searchlist .dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
  padding:18px 25px;
}
.searchlist input{background: $color_1; color:$searchlist; border: 0.8px solid $borderrgb}
.searchlist input:hover{background: $color_1; color:$searchlisthover; border: 0.8px solid $borderrgb}

.searchlist .dropdown-menu-dark {
  background-color: $searchbg;
  border-color: $searchborder;
}
.search-dd{position: absolute;
  width: 450px;
  padding:10px 0;
  list-style-type: none;}
  .search-dd li{padding: 10px 15px;
  cursor: pointer;}
  .search-dd li:hover{background-color: $searchdd; padding:  10px 15px;}

/*search end*/
.searchs{display: none;}
.lmv{display: none !important;}

/*Login / registration loader start*/
.busy {
  animation: spin 1s infinite linear;
  display: inline-block;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 32px;
  font-style: normal;
  color: $busy;
}

.busy::before {
  content: "\25E0";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
/*Login / registration loader end*/


// hover in header Open Bet
.pink:hover{
  background-color: $color_2;
}
/**Tooltip start**/
.tooltipnk {
  position: relative;
  display: inline-block;
}
.tooltipnk .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $tooltipnk;
  color: $color_1;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 0%;
  margin-left: -60px; font-size: 14px !important;
}
.tooltipnk .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $tooltipnk transparent;
}
.tooltipnk:hover .tooltiptext {
  visibility: visible;
}
/**Tooltip end**/
.rightboxfix{
  position: fixed;
width: 26%;
}
.rightboxfix .scroll{
  margin-top: -160px;
}
.modalradius{
  border-radius: 5px 5px 30px 30px;
}
.laddericon:hover{
padding: 10px 14px;
border-radius: 25px;
background: $background-color_9;
}

.tabetails {
  .table {
    td {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }
  th {
    border-width: 0; font-size: 14px;
  }
}
