$color_1: #fff;
$color_2: #ffa7a3;
$color_3: #000;
$background-color_1: #202121;
$background-color_2: #fff;
$background-color_3: #6abefa;
$background-color_4: #6abefa5e;
$background-color_5: hsla(205.2, 29%, 58%, 0.86);
$background-color_6: #ffb9b5;
$background-color_7: #ffb9b560;
$background-color_8: hsla(3.5, 21.3%, 52.2%, 0.78);
$background-color_9: #d9d9d9;
$border-color_1: inherit;

.browncolor {
  background-color: $background-color_1;
}
.bg-pink {
  background: #ffa7a3 !important;
}
.border-pink {
  border: 1px solid #ffa7a3;
}
.btn {
  font-size: 12px;
}
.form-control {
  font-size: 12px;
}
.w-30 {
  width:30%;
}
.text-pink {
  color: $color_2 !important;
}
.btn-outline-pink {
  color: $color_2;
  border-color: $color_2;
}
.btn-outline-pink:hover {
  color: #000;
  background-color: $color_2;
  border-color: $color_2;
}
.bg-blur {
  filter: blur(4px);
  height: 100vh;
}
.accordion-button {
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
}
.header-one {
  border-bottom: 0.8px solid rgba(255, 167, 163, 0.2);
  background-color: $background-color_1;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-icon {
  width: 35px;
  height: 35px;
  background: #ffa7a3;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  a {
    color: $color_1;
  }
}
.header-tow {
  background-image: linear-gradient(
    to top right,
    #3e4040,
    #303132,
    #222223,
    #151515,
    #000000
  );
  border-top: 0.8px solid rgba(255, 167, 163, 0.2);
  ul {
    padding: 0;
    margin: 5px 0 0 0;
    img {
      margin-top: -5px;
      width: 18px;
    }
  }
  li {
    a {
      font-size: 12px;
      color: $color_1;
      padding: 10px 15px;
      margin: 3px;
      border: 1px solid #3e404000;
      border-radius: 60px;
      &:hover {
        border: 1px solid #ffa7a3;
        border-radius: 60px;
        color: $color_2;
      }
    }
    a.active {
      border: 1px solid #ffa7a3;
      border-radius: 60px;
      color: $color_2;
    }
  }
  a {
    &:visited {
      color: $color_1;
    }
  }
}
.accordionn {
  ul {
    border-top: 0.8px solid rgba(255, 167, 163, 0.2);
    border-bottom: 0.8px solid rgba(255, 167, 163, 0.2) !important;
  }
  .nav-tabs .nav-link {
    color: #fff;
  }
  .nav-tabs .nav-link:hover {
    border: none;
  }
  .nav-tabs .nav-link.active {
    border: 0;
    border-bottom: 3px solid #ffa7a3;
    background-color: #20212100;
    color: #ffa7a3;
    border-radius: 0;
  }
  // .nav-tabs .nav-link{color: #fff;}
}
.asidenav {
  // border-right: 1px solid #ffa8a34d;
  padding-top: 8px;

  ul {
    border: 1px solid $color_2;
    border-radius: 15px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a {
    color: $color_1;
    border-right: 3px solid #202121;
    &:visited {
      color: $color_1;
    }
  }
  li {
    a.active {
      border-right: 3px solid rgba(255, 167, 163);
      background: #ffa7a3;
    }
    a {
      &:hover {
        background-image: linear-gradient(
          to top right,
          #3e4040,
          #303132,
          #222223,
          #151515,
          #000000
        );
        border-right: 3px solid rgba(255, 167, 163);
        color: $color_1;
      }
    }
  }
}

.leftb-icon {
  width: 25px;
  height: 25px;
  background: #b70800;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  float: right;
}
.leftuser {
  background: #ffa7a3;
  border-radius: 50px;
  margin: 0 5px;
  padding: 4px 0px 6px 3px;
  color: $color_1;
}
.leftuserhead {
  padding: 0px 0px 0px 10px;
  font-size: 15px;
  font-weight: bold;
}
/*Table start*/
.gamedetails {
  border: 1px solid #ffa7a357;
  margin-top: 30px;
  border-radius: 30px;
  padding: 15px 15px 0 15px;
  color: $color_1;
  font-size: 12px;
  background: #3c3e3eb8;
  .table {
    background-color: $background-color_2;
    border-radius: 15px;
    vertical-align: middle;
    margin-bottom: 25px;
    td {
      vertical-align: middle;
      padding: 5px;
      text-align: center;border-top: 2px solid #fff;
    }
    a {
      color: $color_3;
      text-decoration: none;
      display: block;
    }
  }
  th {
    border-color: $border-color_1;
    border-style: none;
    border-width: 0;
  }
  .heading{
    font-size: 10px;
    line-height: 12px;
  }
}
thead {
  border-color: $border-color_1;
  border-style: none;
  border-width: 0;
}
tr {
  border-color: $border-color_1;
  border-style: none;
  border-width: 0;
}
.table {
  .tfirstcol {
    border-top-left-radius: 15px;
    background: #ffa7a3;
  }
}
.tlastcol {
  border-top-right-radius: 15px;
  background: #ffa7a3;
}
.coldark {
  background: #272727 !important;
  color: $color_1;
}
//color box start
.colblue {
  background-color: $background-color_3 !important;
  border-left: 1px solid #fff;
}
.colblue.light {
  background-color: $background-color_4 !important;
}
.colblue.dis {
  background-color: $background-color_5 !important;
}
.colpink {
  background-color: $background-color_6 !important;
  border-left: 1px solid #fff;
}
.colpink.light {
  background-color: $background-color_7 !important;
}
.colpink.dis {
  background-color: $background-color_8 !important;
}
.colgray {
  background-color: $background-color_9 !important;
  border-left: 1px solid #fff;
}
.colpink.last {
  border-bottom-right-radius: 15px;
  border-right: 0px;
}
.colblue, .colblue.light, .colblue.dis, .colpink, .colpink.light, .colpink.dis, .colgray, .colpink.last{min-width: 60px; height: 40px;}
//color box end
/*Table end*/
/*login start*/
.login {
  border: 1px solid #ffffff52;
  border-radius: 25px;
  padding: 10px;
  background: #6c6c6c82;
  margin-top: 30px;
  a {
    text-decoration: none;
  }
  .btn {
    font-size: 14px; padding: 12px 10px;
  }
  .form-control{line-height: 2.5;}
  .form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: none;
  }

}
/*login end*/
/*Right sidebar start*/
#overlay    {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(2, 2, 2, 0.8);
  z-index: 999;
  backdrop-filter: blur(1px);
}

#rightslider {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 250px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1000;
  background: #202121;
  color: #fff;
  font-size: 10px;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 2px #ffa7a3;
  a {
    text-decoration: none;
    color: $color_1;
  }
}
#rightslider.toggled {
  padding-right: 250px;

  #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
  }
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
/*Right sidebar end*/

.innerpagem {
  border: 1px solid #ffa7a357;
  border-radius: 30px;
  padding: 20px 0 0 0;
  color: $color_1;
  font-size: 12px;
  background: linear-gradient(180deg, #1f1f1f 35%, #000);
}
.search input,
.input-group-text {
  background-color: #2d2d2d;
  border: none;
  color: #fff;
}
.midbadge {
  top: 7px;
  position: relative;
}

.number {
  .minus,
  .plus {
    width: 27px;
    height: 33px;
    border-radius: 4px;
    padding: 4px 5px 4px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #000;
  }
  input {
    height: 33px;
    width: 71px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
}
.leagues {
  a {
    background: #0000;
    color: #fff;
    padding: 10px 10px;
    border-bottom: 1px solid #373737;
  }
  a:hover {
    background: rgb(43, 42, 42);
    color: #fff;
  }
}
.rightacco {
  .accordion-item {
    border-radius: 25px;
    border: none;
    background-color: #0f0f0f;
    color: #000 !important;
  }
  .accordion-item .accordion-button.collapsed {
    border-radius: 25px;
    background: #ffa7a3;
    color: #000;
    margin-bottom: 25px;
  }
  .accordion-body {
    padding: 1rem 0.3rem 0rem 0.3rem;
    border: 1px solid #404040;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 25px;
  }
  .accordion-button:not(.collapsed) {
    background-color: #ffa7a3;
  }
  .accordion-body h6{font-size: 14px;}
  .accordion-body p{margin-bottom: 0;}
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.favselected {
  background: #464646;
  margin: 10px 5px;
  padding: 0;
  color: #fff;
}
.favselected p {
  margin: 0;
}
.favselected a {
  border: 0px;
  display: block;
  color: #000;
  text-decoration: none;
}
.favselected a:visited {
  color: #000;
}
.favhead {
  background: #ffa7a3;
  border-radius: 10px;
  margin: 15px 0 0 0;
  padding: 4px 0px 6px 3px;
  color: #fff;
  position: relative;
  top: -5px;
}
.gamedetails1 {
  border-radius: 0px;
  padding: 5px;
  font-size: 12px;
  background: #fff;
  text-align: center;
  color: #000000;
}
.suspendedb {
  margin: 1px;
  position: relative;
}
.suspended {
  background: rgba(38, 38, 38, 0.63);
  color: #fff;
  border-radius: 35px;
  padding: 6px;
  position: absolute;
  top: 3px;
  width: 96%;
  text-align: center;
  left: 4px;
  border: 0px;
}



// #loginregbg{
//   background-color: rgba(0, 0, 0, 0.94);
//   width: 100%;
//   height: 100vh;
//   padding-top: 10%;

// }

#loginregbg {
  --s: 10vmin;
--p: calc(var(--s) / 2);
--c1: #ffc0e636;
--c2: #00418063;
--c3: #ffffff69;
--bg: var(--c3);
--d: 6000ms;
--e: cubic-bezier(0.76, 0, 0.24, 1);
background-image: linear-gradient(45deg, #ffc0e612 25%, #0009 25%);
background-size: var(--s) var(--s);
background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1),
calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
animation: color var(--d) var(--e) infinite, position var(--d) var(--e) infinite;
background-color: #000;
padding-top: 4%;
height: 100vh;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position:
      calc(var(--p) *  1) calc(var(--p) *  0),
      calc(var(--p) * -1) calc(var(--p) *  1),
      calc(var(--p) *  1) calc(var(--p) * -1),
      calc(var(--p) * -1) calc(var(--p) *  0);
  }
  25% {
    background-position:
      calc(var(--p) *  1) calc(var(--p) *  4),
      calc(var(--p) * -1) calc(var(--p) *  5),
      calc(var(--p) *  1) calc(var(--p) *  3),
      calc(var(--p) * -1) calc(var(--p) *  4);
  }
  50% {
    background-position:
      calc(var(--p) *  3) calc(var(--p) * 8),
      calc(var(--p) * -3) calc(var(--p) * 9),
      calc(var(--p) *  2) calc(var(--p) * 7),
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position:
      calc(var(--p) *  3) calc(var(--p) * 12),
      calc(var(--p) * -3) calc(var(--p) * 13),
      calc(var(--p) *  2) calc(var(--p) * 11),
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position:
      calc(var(--p) *  5) calc(var(--p) * 16),
      calc(var(--p) * -5) calc(var(--p) * 17),
      calc(var(--p) *  5) calc(var(--p) * 15),
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

/*search start*/

.searchlist .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: 0;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  position: absolute;
  top: 12px;
  right: 10px; color:#626262;
}
.searchi{
  position: absolute;
left: 10px;
top: 8px;
color:#626262;
}
.searchinput{
  padding:5px 30px;
}

.searchlist .dropdown-menu {
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  width: 400px;
}

.searchlist .dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
  padding:18px 25px;
}
.searchlist input{background: rgba(60, 62, 62, 0.7215686275); color:#626262; border: 0.8px solid rgba(255, 167, 163, 0.2)}
.searchlist input:hover{background: #fff; color:rgba(60, 62, 62, 0.7215686275); border: 0.8px solid rgba(255, 167, 163, 0.2)}

.searchlist .dropdown-menu-dark {
  background-color: #343535;
  border-color: rgba(0,0,0,.15);
}


/*search end*/
.searchs{display: none;}
.lmv{display: none !important;}

