@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow-x: clip;
}

/*theme one start*/
/*theme one end*/
.browncolor {
  /* background-color: #202121; */
  background-color: #000;
}

.bg-pink {
  background: #d35862 !important;
}

.border-pink {
  border: 1px solid #d35862;
}

.btn {
  font-size: 12px;
}

/* .btn-pink {
  color: #fff;
}

.btn-pink:hover {
  background: #ffa7a3;
  color: #000;

} */

.btn-pink {
  /* color: #000;
  background: linear-gradient(180deg, #d35862 0%, #d98e94 100%);
  border-color: #ffa7a3; */
  transition: all 0.2s ease-in;
  transform: scale(1);

  border: none;
  color: #fff;
  /* padding: 10px 30px; */
  border-radius: 25px;
  /* font-size: 1rem; */
  font-size: 0.75rem;
  background-image: linear-gradient(0deg, #cd212f 0, #e76f26);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
}

.btn-pink:hover {
  /* background: #fff; */
  /* color: #000; */
  color: #fff;
  transition: all 0.2s ease-in;
  transform: scale(1.01);
}

.form-control {
  font-size: 12px;
}

.w-30 {
  width: 30%;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.timer {
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
}

.text-pink {
  color: #ffa7a3 !important;
}

.btn-outline-pink {
  color: #ffa7a3;
  border-color: #ffa7a3;
}

.btn-outline-pink:hover {
  color: #000;
  background-color: #ffa7a3;
  border-color: #ffa7a3;
}

.bg-blur {
  filter: blur(4px);
  height: 100vh;
}

.accordion-button {
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
}

.header-one {
  border-bottom: 0.8px solid rgba(255, 167, 163, 0.2);
  /* background-color: #202121; */
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-icon {
  width: 35px;
  height: 35px;
  /* background: #ffa7a3; */
  background: linear-gradient(0deg, #cd212f 0, #e76f26);
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
}
.header-icon a {
  color: #fff;
}

.header-tow {
  background-image: linear-gradient(
    to top right,
    #3e4040,
    #303132,
    #222223,
    #151515,
    #000000
  );
  border-top: 0.8px solid rgba(255, 167, 163, 0.2);
}
.header-tow ul {
  padding: 0;
  margin: 5px 0 0 0;
}
.header-tow ul img {
  margin-top: -5px;
  width: 18px;
}
.header-tow li a {
  font-size: 12px;
  color: #fff;
  padding: 10px 15px;
  margin: 3px;
  border: 1px solid rgba(62, 64, 64, 0);
  border-radius: 60px;
}
.header-tow li a:hover {
  /* border: 1px solid #ffa7a3; */
  border: 1px solid #e76f26;
  border-radius: 60px;
  color: #e76f26;
}
.header-tow li a.active {
  /* border: 1px solid #ffa7a3; */
  border: 1px solid#e76f26;
  border-radius: 60px;
  /* color: #ffa7a3; */
  color: #fff;
  background-image: linear-gradient(0deg, #cd212f 0, #e76f26);
}
.header-tow a:visited {
  color: #fff;
}

.accordionn ul {
  border-top: 0.8px solid rgba(255, 167, 163, 0.2);
  border-bottom: 0.8px solid rgba(255, 167, 163, 0.2) !important;
}
.accordionn .nav-tabs .nav-link {
  color: #fff;
}
.accordionn .nav-tabs .nav-link:hover {
  border: none;
}
.accordionn .nav-tabs .nav-link.active {
  border: 0;
  /* border-bottom: 3px solid #ffa7a3; */
  border-bottom: 3px solid #dc3545;
  background-color: #202121;
  /* color: #ffa7a3; */
  color: #dc3545;
  border-radius: 0;
}

.asidenav {
  padding-top: 8px;
}
.asidenav ul {
  /* border: 1px solid #ffa7a3; */
  border: 1px solid rgba(231, 111, 38, 1);
  /*border: 1px solid #d35862;*/
  border-radius: 15px;
  /* font-size: 14px; */
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.asidenav a {
  color: #fff;
  border-right: 3px solid #202121;
  padding-top: 10px;
  padding-bottom: 10px;
}
.asidenav a:visited {
  color: #fff;
}
.asidenav li a.active {
  /* border-right: 3px solid rgb(255, 167, 163); */
  border-right: 3px solid rgb(231, 111, 38);
  /* background: #ffa7a3; */
  background-color: #dc3545;
}
.asidenav li a:hover {
  background-image: linear-gradient(
    to top right,
    #3e4040,
    #303132,
    #222223,
    #151515,
    #000000
  );
  /* border-right: 3px solid rgb(255, 167, 163); */
  border-right: 3px solid rgb(231, 111, 38);
  color: #fff;
}

.leftb-icon {
  width: 25px;
  height: 25px;
  background: #b70800;
  border-radius: 50px;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  float: right;
}

.leftuser {
  background: #d35862;
  border-radius: 50px;
  margin: 0 5px;
  padding: 4px 0px 6px 3px;
  color: #fff;
}

.leftuserhead {
  padding: 0px 0px 0px 10px;
  font-size: 13px;
  display: flex;
  margin-top: 10px;
}

.userb-icon {
  width: 35px;
  height: 35px;
  background: #b70800;
  border-radius: 50px;
  text-align: center;
  padding: 1px;
  font-size: 23px;
  float: right;
}

/*Table start*/
.gamedetails {
  border: 1px solid #d35862;
  margin-top: 30px;
  border-radius: 30px;
  padding: 15px 15px 0 15px;
  color: #fff;
  font-size: 12px;
  /* background: rgba(60, 62, 62, 0.7215686275); */
  background: transparent;
}
.gamedetails .table {
  background-color: #fff;
  border-radius: 15px;
  vertical-align: middle;
  margin-bottom: 25px;
}
.gamedetails .table td {
  vertical-align: middle;
  /* padding: 2px 5px; */
  text-align: center;
  border-top: 2px solid #fff;
  line-height: 12px;
}
.gamedetails .table a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
}
.gamedetails .table span {
  font-size: 10px;
}
.gamedetails th {
  border-color: inherit;
  border-style: none;
  border-width: 0;
  font-size: 0.8rem;
  height: 50px;
  vertical-align: middle;
  font-weight: normal;
}
.gamedetails .heading {
  font-size: 10px;
  line-height: 12px;
}

thead {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

.table .tfirstcol {
  border-top-left-radius: 15px;
  /* background: #ffa7a3; */
  background-image: linear-gradient(90deg, #cd212f 0, #e76f26);
  color: #fff;
}

.tlastcol {
  border-top-right-radius: 15px;
  background: #ffa7a3;
}

.coldark {
  background: #272727 !important;
  color: #fff;
}

.tstartcol {
  border-top-left-radius: 15px;
  background: #ffa7a3;
}

.colblue {
  background-color: #6abefa !important;
  border-left: 1px solid #fff;
}

.colblue.light {
  background-color: rgba(106, 190, 250, 0.368627451) !important;
}

.colblue.dis {
  background-color: hsla(205.2deg, 29%, 58%, 0.86) !important;
}

.colpink {
  /* background-color: #f9c9d4 !important; */
  background-color: #fba2b6 !important;
  border-left: 1px solid #fff;
}

.colpink.light {
  background-color: rgba(255, 185, 181, 0.3764705882) !important;
}

.colpink.dis {
  background-color: hsla(3.5deg, 21.3%, 52.2%, 0.78) !important;
  font-size: 11px;
  line-height: 11px;
}

.colgray {
  background-color: #d9d9d9 !important;
  border-left: 1px solid #fff;
}

.colpink.last {
  border-bottom-right-radius: 15px;
  border-right: 0px;
}

.colblue.last {
  border-bottom-right-radius: 15px;
  border-right: 0px;
}

.colblue.start {
  border-bottom-left-radius: 15px;
  border-left: 0px;
}

.colblue,
.colblue.light,
.colblue.dis,
.colpink,
.colpink.light,
.colpink.dis,
.colgray,
.colpink.last {
  min-width: 45px;
  height: 40px;
}

.boxeffect {
  -webkit-transition-duration: 0.4s;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  width: 110%;
  padding: 5px 0;
  margin: -9px;
  border-radius: 5px;
}

.boxeffect:after {
  content: "";
  background: #545a69;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.boxeffect:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/*Table end*/
/*login start*/
.login {
  border: 1px solid rgba(255, 255, 255, 0.3215686275);
  border-radius: 25px;
  padding: 10px 35px;
  /*background: rgba(108, 108, 108, 0.5098039216);*/
  background: rgb(0 0 0 / 8%);
  margin-top: 30px;
}
.login a {
  text-decoration: none;
  color: #d35862;
  padding: 5px 10px;
}
.login a:hover {
  background: rgba(255, 167, 163, 0.1803921569);
  padding: 5px 10px;
  border-radius: 5px;
  color: #d35862;
}
.login .btn {
  font-size: 16px;
  padding: 12px 10px;
  border-radius: 50rem;
}
.login .form-control {
  line-height: 3.5;
  border-radius: 14px;
  border: 1px solid #ffa7a3;
  border-right: none;
}
.login .form-control.is-invalid,
.login .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
}
.login .form-control::-moz-placeholder {
  font-size: 16px;
}
.login .form-control:-ms-input-placeholder {
  font-size: 16px;
}
.login .form-control::placeholder {
  font-size: 16px;
}
.login .form-control:focus {
  outline: none !important;
  box-shadow: none;
}
.login .input-group-text {
  border: 1px solid #ffa7a3;
  border-left: none;
  border-radius: 14px;
}

/*login end*/
/*Right sidebar start*/
#overlay {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(2, 2, 2, 0.8);
  z-index: 999;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

#rightslider {
  padding-right: 0;
  transition: all 0.5s ease;
  width: 250px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1000;
  background: #202121;
  color: #fff;
  font-size: 12px;
  overflow-x: hidden;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 2px #ffa7a3;
}
#rightslider a {
  text-decoration: none;
  color: #fff;
}

#rightslider.toggled {
  padding-right: 250px;
}
#rightslider.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/*Right sidebar end*/
.innerpagem {
  /* border: 1px solid rgba(255, 167, 163, 0.3411764706); */
  border: 1px solid rgba(231, 111, 38, 1);
  border-radius: 30px;
  padding: 20px 0 0 0;
  color: #fff;
  font-size: 12px;
  /* background: linear-gradient(180deg, #1f1f1f 35%, #000); */
  background-color: #000;
}

.search input,
.input-group-text {
  background-color: #2d2d2d;
  border: none;
  color: #fff;
}

.midbadge {
  top: 7px;
  position: relative;
  padding: 7px 15px;
  text-transform: uppercase;
  font-style: italic;
}

.number .minus,
.number .plus {
  width: 27px;
  height: 33px;
  border-radius: 4px;
  padding: 4px 5px 4px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #000;
}
.number input {
  height: 33px;
  width: 70px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.leagues a {
  background: #000;
  color: #fff;
  padding: 10px 10px;
  border-bottom: 1px solid #373737;
}
.leagues a:hover {
  background: rgb(43, 42, 42);
  color: #fff;
}

.rightacco .accordion-item {
  border-radius: 25px;
  border: none;
  background-color: #0f0f0f;
  color: #000 !important;
}
.rightacco .accordion-item .accordion-button.collapsed {
  border-radius: 25px;
  /* background: #ffa7a3; */
  background-image: linear-gradient(90deg, #cd212f 0, #e76f26);
  /*background: #d35862;*/
  color: #000;
  margin-bottom: 25px;
}
.rightacco .accordion-body {
  padding: 1rem 0.3rem 0rem 0.3rem;
  border: 1px solid #404040;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 25px;
}
.rightacco .accordion-button:not(.collapsed) {
  /* background-color: #ffa7a3; */
  background-image: linear-gradient(90deg, #cd212f 0, #e76f26);
  /*background-color: #d35862;*/
}
.rightacco .accordion-body h6 {
  font-size: 14px;
}
.rightacco .accordion-body p {
  margin-bottom: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.favselected {
  background: #464646;
  margin: 10px 5px;
  padding: 0;
  color: #fff;
}

.favselected p {
  margin: 0;
}

.favselected a {
  border: 0px;
  display: block;
  color: #000;
  text-decoration: none;
}

.favselected a:visited {
  color: #000;
}

.favhead {
  background: #ffa7a3;
  border-radius: 10px;
  margin: 15px 0 0 0;
  padding: 4px 0px 6px 3px;
  color: #fff;
  position: relative;
  top: -5px;
}

.gamedetails1 {
  border-radius: 0px;
  padding: 5px;
  font-size: 12px;
  background: #fff;
  text-align: center;
  color: #000;
}

.suspendedb {
  margin: 1px;
  position: relative;
}

.suspended {
  background: rgba(38, 38, 38, 0.63);
  color: #fff;
  border-radius: 35px;
  padding: 6px;
  position: absolute;
  top: 3px;
  width: 96%;
  text-align: center;
  left: 4px;
  border: 0px;
}

/*suspended start*/
.suspendedbm1 {
  position: relative;
  top: -25px;
}

.suspendedm1 {
  background: rgba(38, 38, 38, 0.63);
  color: #fff;
  border-radius: 35px;
  padding: 13px 5px;
  position: absolute;
  top: 5px;
  text-align: center;
  border: 0px;
  width: 196px;
  font-size: 14px;
}

.suspendedm1.inplay-o {
  right: 78px;
}

.suspendedm1.marketlist-on {
  right: 98px;
}

.suspendedm1.marketlist-off {
  right: 180px;
}

.suspendedm1.tourmarketlist-on {
  right: 96px;
}

.suspendedm1.tourmarketlist-off {
  right: 180px;
}

.suspendedm1.matchmarketlist-on {
  right: 116px;
}

.suspendedm1.matchmarketlist-off {
  right: 96px;
}

/*suspended end*/
/*Loder start*/
.batsliploader.card-body {
  opacity: 0.3;
}

.loader {
  position: absolute;
  left: 60%;
  top: 60%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 8px solid #c0c0c0;
  border-radius: 50%;
  border-top: 8px solid #585858;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.betbtn {
  font-size: 15px;
  letter-spacing: 2px;
  height: 45px;
}

.prof {
  font-size: 11px;
  margin-top: -5px;
}

.sec-text {
  position: relative;
}

.sec-text span {
  position: absolute;
  right: 5px;
  top: -36px;
  font-size: 11px;
}

.loadtime {
  position: absolute;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  top: 50%;
  left: 47%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Loder end*/
#loginregbg {
  --s: 10vmin;
  --p: calc(var(--s) / 2);
  --c1: #ffc0e636;
  --c2: #00418063;
  --c3: #ffffff69;
  --bg: var(--c3);
  --d: 6000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);
  background-image: linear-gradient(
    45deg,
    rgba(255, 192, 230, 0.0705882353) 25%,
    rgba(0, 0, 0, 0.6) 25%
  );
  background-size: var(--s) var(--s);
  background-position: calc(var(--p) * 1) calc(var(--p) * 0),
    calc(var(--p) * -1) calc(var(--p) * 1),
    calc(var(--p) * 1) calc(var(--p) * -1),
    calc(var(--p) * -1) calc(var(--p) * 0);
  -webkit-animation: color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
  animation: color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
  background-color: #000;
  padding-top: 2%;
  height: 100vh;
}

@-webkit-keyframes color {
  0%,
  25% {
    --bg: var(--c3);
  }
  26%,
  50% {
    --bg: var(--c1);
  }
  51%,
  75% {
    --bg: var(--c3);
  }
  76%,
  100% {
    --bg: var(--c2);
  }
}

@keyframes color {
  0%,
  25% {
    --bg: var(--c3);
  }
  26%,
  50% {
    --bg: var(--c1);
  }
  51%,
  75% {
    --bg: var(--c3);
  }
  76%,
  100% {
    --bg: var(--c2);
  }
}
@-webkit-keyframes position {
  0% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 0),
      calc(var(--p) * -1) calc(var(--p) * 1),
      calc(var(--p) * 1) calc(var(--p) * -1),
      calc(var(--p) * -1) calc(var(--p) * 0);
  }
  25% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 4),
      calc(var(--p) * -1) calc(var(--p) * 5),
      calc(var(--p) * 1) calc(var(--p) * 3),
      calc(var(--p) * -1) calc(var(--p) * 4);
  }
  50% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 8),
      calc(var(--p) * -3) calc(var(--p) * 9),
      calc(var(--p) * 2) calc(var(--p) * 7),
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 12),
      calc(var(--p) * -3) calc(var(--p) * 13),
      calc(var(--p) * 2) calc(var(--p) * 11),
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position: calc(var(--p) * 5) calc(var(--p) * 16),
      calc(var(--p) * -5) calc(var(--p) * 17),
      calc(var(--p) * 5) calc(var(--p) * 15),
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}
@keyframes position {
  0% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 0),
      calc(var(--p) * -1) calc(var(--p) * 1),
      calc(var(--p) * 1) calc(var(--p) * -1),
      calc(var(--p) * -1) calc(var(--p) * 0);
  }
  25% {
    background-position: calc(var(--p) * 1) calc(var(--p) * 4),
      calc(var(--p) * -1) calc(var(--p) * 5),
      calc(var(--p) * 1) calc(var(--p) * 3),
      calc(var(--p) * -1) calc(var(--p) * 4);
  }
  50% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 8),
      calc(var(--p) * -3) calc(var(--p) * 9),
      calc(var(--p) * 2) calc(var(--p) * 7),
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: calc(var(--p) * 3) calc(var(--p) * 12),
      calc(var(--p) * -3) calc(var(--p) * 13),
      calc(var(--p) * 2) calc(var(--p) * 11),
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {
    background-position: calc(var(--p) * 5) calc(var(--p) * 16),
      calc(var(--p) * -5) calc(var(--p) * 17),
      calc(var(--p) * 5) calc(var(--p) * 15),
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}
@media (prefers-reduced-motion) {
  body {
    -webkit-animation: none;
    animation: none;
  }
}
/*search start*/
.searchlist .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 12px;
  right: 10px;
  color: #626262;
}

.searchi {
  position: absolute;
  left: 10px;
  top: 8px;
  color: #626262;
}

.searchinput {
  padding: 5px 30px;
}

.searchlist .dropdown-menu {
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  width: 400px;
}

.searchlist .dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
  padding: 18px 25px;
}

.searchlist input {
  background: #fff;
  color: #626262;
  border: 0.8px solid rgba(255, 167, 163, 0.2);
}

.searchlist input:hover {
  background: #fff;
  color: rgba(60, 62, 62, 0.7215686275);
  border: 0.8px solid rgba(255, 167, 163, 0.2);
}

.searchlist .dropdown-menu-dark {
  background-color: #343535;
  border-color: rgba(0, 0, 0, 0.15);
}

.search-dd {
  position: absolute;
  width: 450px;
  padding: 10px 0;
  list-style-type: none;
}

.search-dd li {
  padding: 10px 15px;
  cursor: pointer;
}

.search-dd li:hover {
  background-color: rgb(83, 83, 83);
  padding: 10px 15px;
}

/*search end*/
.searchs {
  display: none;
}

.lmv {
  display: none !important;
}

/*Login / registration loader start*/
.busy {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  display: inline-block;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 32px;
  font-style: normal;
  color: #555;
}

.busy::before {
  content: "◠";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/*Login / registration loader end*/
.pink:hover {
  background-color: #ffa7a3;
}

/**Tooltip start**/
.tooltipnk {
  position: relative;
  display: inline-block;
}

.tooltipnk .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #797979;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 0%;
  margin-left: -60px;
  font-size: 14px !important;
}

.tooltipnk .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #797979 transparent;
}

.tooltipnk:hover .tooltiptext {
  visibility: visible;
}

/**Tooltip end**/
.rightboxfix {
  position: fixed;
  width: 26%;
}

.rightboxfix .scroll {
  margin-top: -160px;
}

.modalradius {
  border-radius: 5px 5px 30px 30px;
}

.laddericon:hover {
  padding: 10px 14px;
  border-radius: 25px;
  background: #d9d9d9;
}

.tabetails .table td {
  font-size: 14px;
}
.tabetails .table span {
  font-size: 14px;
}
.tabetails th {
  border-width: 0;
  font-size: 14px;
}

/********** Bet Slip start ************/
.sidebar {
  left: 0;
  z-index: 996;
  transition: all 0.3s;
  overflow-y: auto;
  scrollbar-width: thin;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  letter-spacing: 1px;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.fixed-sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  padding: 0 10px;
  top: 0px;
  bottom: auto;
}

.sidebarhide {
  display: none;
}

.small,
small {
  font-size: 0.875rem;
}
/********** Bet Slip end ************/ /*# sourceMappingURL=main.css.map */

.bg-color {
  background-image: linear-gradient(90deg, #cd212f 0, #e76f26);
}

.text-color {
  /* color: #e76f26 !important; */
  /* background-image: linear-gradient(90deg, #cd212f 0, #e76f26);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
  color: #e76f26 !important;
}

.border-colour {
  /* border-image: linear-gradient(90deg, #cd212f 0, #e76f26);
  border-image-slice: 1;
  border-radius: 500px; */
  border: 1px solid #eb5527;
}

.btn-outline-color {
  color: #e76f26;
  border-color: #e76f26;
}

.btn-outline-color:hover {
  color: #000;
  background-color: #e76f26;
  border-color: #e76f26;
}

.loader1 {
  position: absolute;
  left: 70%;
  top: 65%;
  z-index: 1;
  width: 10px;
  height: 10px;
  margin: -76px 0 0 -76px;
  /* // border: 8px solid $loaderborder;
  // border-radius: 50%;
  // border-top: 8px solid $loaderbordertop;
  // -webkit-animation: spin 2s linear infinite;
  // animation: spin 2s linear infinite; */
}
/* .mobileTableHide {
  display: block;
}
.mobileTableShow {
  display: none;
} */

.mobileTableShow table tbody tr td {
  /* border-radius: 1rem; */
  border-radius: 2rem;
}

.mobileTableShow .innerpagem {
  padding: 10px 0 0 0;
}

.form-signin .form-floating > .form-control,
.form-floating > .form-select {
  background: rgba(60, 62, 62, 0);
  color: #fff;
  border-bottom: 1px solid #fff !important;
  border: 0px;
  border-radius: 0;
  padding: 30px 0px 15px 0px;
  outline: none !important;
}

.login .form-control {
  line-height: 2.5;
  height: 35px;
}

.form-signin .form-floating span {
  margin-top: -30px;
  position: absolute;
  right: 13px;
  cursor: pointer;
}

.form-signin .form-floating > label {
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  color: #fff;
  /* padding: 0px 0px 0 12px; */
}

.login .btn {
  font-size: 16px;
  padding: 3px 4px;
}

/* * {
  overflow-x: clip;
} */

.mobileTableShow.header-tow li a {
  font-size: 10px !important;
  color: #fff;
  padding: 5px 5px;
  margin: 0 10px;
  border: 1px solid rgba(62, 64, 64, 0);
  border-radius: 60px;
}

.mobileTableShow.header-tow li a img {
  margin-bottom: 5px;
}

.gamedetails.mobileTableShow {
  padding: 15px;
}

.betting-pl-cls .accordion-item .accordion-collapse a {
  color: #e76f26;
}

.gamedetails .mobileTableShow .table td:nth-child(1) {
  text-align: left;
}

.gamedetails .mobileTableShow .table td .colblue,
.gamedetails .mobileTableShow .table td .colgray,
.gamedetails .mobileTableShow .table td .colpink {
  border-radius: 2rem;
  height: 35px !important;
  padding: 0 !important;
  min-width: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  line-height: 6px;
}

.gamedetails .mobileTableShow .table td {
  padding: 5px 5px;
  border-top: 0 !important;
}

/* mobile navigation */

#leftslider {
  padding-right: 0;
  transition: all 0.5s ease;
  width: 250px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1000;
  background: #202121;
  color: #fff;
  font-size: 12px;
  overflow-x: hidden;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 2px #ffa7a3;
}
#leftslider a {
  text-decoration: none;
  color: #fff;
}

#leftslider.toggled {
  padding-right: 250px;
}
#leftslider.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px;
}
