@media only screen and (max-width: 320px) {
  .gamedetails.mobileTableShow {
    padding: 0;
  }

  .mobileTableShow .number .minus, .mobileTableShow .number .plus{
    width: 19px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .w-30 {
    width: 85%;
  }
  .searchs {
    display: block;
  }
  .disnone {
    display: none;
  }

  .gamedetails {
    /* border: none; */
    border: 1px solid #d35862;
    margin-top: 30px;
    border-radius: 30px;
    padding: 0;
    color: #fff;
    font-size: 12px;
    background: none;
  }
  .colblue,
  .colblue.light,
  .colblue.dis,
  .colpink,
  .colpink.light,
  .colpink.dis,
  .colgray,
  .colpink.last {
    min-width: 40px;
    height: auto;
  }
  .mpse {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .innerpagem {
    border: 0;
  }
  .sidebarhd {
    display: none;
  }
  .sidebarhide {
    display: block;
  }

  .head_logo {
    width: 5rem !important;
  }
  .tabetails .table td {
    font-size: 11px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 767px) {
  .gamedetails .table {
    margin-bottom: 10px;
  }

  .betbtn {
    height: 34px;
    line-height: 18px;
  }

  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 0;
    width: 160px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 0;
    width: 150px;
  }

  .gamedetails .table a {
    font-size: 12px !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }
}

/* @media only screen and (min-width: 1024px) {
  .header-tow {
    position: sticky;
    top: 0;
    z-index: 999;
  }
} */

@media only screen and (max-width: 1024px) {
  .head_logo {
    width: 7rem;
  }
}

@media only screen and (max-width: 1228.8px) {
  .gamedetails .table a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  .head_logo {
    width: 9rem;
  }
}

@media only screen and (min-width: 1024px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 45px;
  }

  .suspendedm1.matchmarketlist-off {
    right: 135px;
    width: 195px;
  }
}

@media only screen and (min-width: 1228.8px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 80px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 165px;
    width: 225px;
  }
  .gamedetails .table a {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1366px) {
  .suspendedm1.matchmarketlist-on {
    right: 105px;
  }
}

@media only screen and (min-width: 1396.36px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 108px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 193px;
    width: 250px;
  }

  .gamedetails .table a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1440px) {
  .asidenav ul {
    font-size: 12px;
  }

  .asidenav ul li a {
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .suspendedm1.matchmarketlist-off {
    right: 205px;
    width: 265px;
  }
}

@media only screen and (min-width: 1536px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 128px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 217px;
    width: 276px;
  }
  .gamedetails .table a {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (min-width: 1680px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 135px;
    width: 240px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 244px;
    width: 300px;
  }
}

@media only screen and (min-width: 1706.67px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 153px;
    width: 205px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 248px;
    width: 297px;
  }
}

@media only screen and (min-width: 1920px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 170px;
    width: 240px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 280px;
    width: 337px;
  }

  .gamedetails .table a {
    font-size: 16px;
  }

  .gamedetails .table span {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1980px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 185px;
    width: 240px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 295px;
    width: 350px;
  }
}

@media only screen and (min-width: 2048px) {
  .suspendedm1.marketlist-on {
    right: 98px;
  }
  .suspendedm1.marketlist-off {
    right: 180px;
  }

  .suspendedm1.tourmarketlist-on {
    right: 96px;
  }
  .suspendedm1.tourmarketlist-off {
    right: 180px;
  }

  .suspendedm1.matchmarketlist-on {
    right: 190px;
    width: 245px;
  }
  .suspendedm1.matchmarketlist-off {
    right: 300px;
    width: 360px;
  }
}

@media only screen and (min-width: 2304px) {
  .suspendedm1.matchmarketlist-on {
    right: 219px;
    width: 270px;
  }

  .suspendedm1.matchmarketlist-off {
    right: 345px;
    width: 400px;
  }
}

@media only screen and (min-width: 2560px) {
  .suspendedm1.matchmarketlist-on {
    right: 235px;
    width: 330px;
  }

  /* .suspendedm1.matchmarketlist-off {
    right: 345px;
    width: 400px;
  } */

  .suspendedm1.matchmarketlist-off {
    right: 390px;
    width: 450px;
  }

  .gamedetails .table a {
    font-size: 20px;
    line-height: 22px;
  }

  .gamedetails .table span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 3072px) {
  .suspendedm1.matchmarketlist-on {
    right: 300px;
    width: 360px;
  }

  .suspendedm1.matchmarketlist-off {
    right: 470px;
    width: 530px;
  }
}

@media only screen and (min-width: 4608px) {
  .suspendedm1.matchmarketlist-on {
    right: 470px;
    width: 528px;
  }

  .suspendedm1.matchmarketlist-off {
    right: 719px;
    width: 785px;
  }
}

@media only screen and (min-width: 6144px) {
  .suspendedm1.matchmarketlist-on {
    right: 643px;
    width: 706px;
  }

  .suspendedm1.matchmarketlist-off {
    right: 985px;
    width: 1045px;
  }
}
