/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .w-30 {
    width: 85%;
  }
  .searchs {
    display: block;
  }
  .disnone {
    display: none;
  }

  .gamedetails {
    /* border: none; */
    border: 1px solid #d35862;
    margin-top: 30px;
    border-radius: 30px;
    padding: 0;
    color: #fff;
    font-size: 12px;
    background: none;
  }
  .colblue,
  .colblue.light,
  .colblue.dis,
  .colpink,
  .colpink.light,
  .colpink.dis,
  .colgray,
  .colpink.last {
    min-width: 40px;
    height: auto;
  }
  .mpse {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .innerpagem {
    border: 0;
  }
  .sidebarhd {
    display: none;
  }
  .sidebarhide {
    display: block;
  }

  .head_logo {
    width: 5rem !important;
  }
  .tabetails .table td {
    font-size: 11px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 767px) {
  /* .mobileTableHide {
    display: none;
  }
  .mobileTableShow {
    display: block;
  } */
  .gamedetails .table {
    margin-bottom: 10px;
  }

  .betbtn {
    height: 30px;
    line-height: 1px;
  }

  /* .gamedetails .mobileTableShow .table td {
    padding: 10px 5px;
  } */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: auto;
  }
}

/* @media only screen and (min-width: 1024px) {
  .header-tow {
    position: sticky;
    top: 0;
    z-index: 999;
  }
} */

@media only screen and (max-width: 1024px) {
  .head_logo {
    width: 7rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  .head_logo {
    width: 9rem;
  }
}

@media only screen and (max-width: 1440px) {
  .asidenav ul {
    font-size: 12px;
  }

  .asidenav ul li a {
    padding: 0.5rem;
  }
}
