.mybet {
  background-color: #fff;
  border-radius: 15px;
  vertical-align: middle;
  margin-bottom: 25px;
}

.mobileTableShow .table {
  /* --bs-table-bg: transparent; */
  /* --bs-table-accent-bg: transparent; */
  /* --bs-table-striped-color: #212529; */
  /* --bs-table-striped-bg: rgba(0, 0, 0, 0.05); */
  /* --bs-table-active-color: #212529; */
  /* --bs-table-active-bg: rgba(0, 0, 0, 0.1); */
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: transparent;
}
