<!--body start-->
<div class="row m-0">
    <!-- <div class="col-md-12 pb-2 pt-2">
      <a href="" class="text-white small text-decoration-none"><i class="fa fa-arrow-alt-circle-left"></i> Change Password</a> 
     </div> -->
    <hr class="text-pink">
    <!--Artical Start-->
    <div class="col-md-12 ps-5 pe-5 accordionn">
        <div class="">
            <!--Change Password start-->
            <div class="w-25 m-auto innerpagem ps-5 pe-5">
                <form>
                    <div class="row changePass pb-5 mb-4 mt-3">
                        <div class="input-group mt-3">
                            <span class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Current Password">
                            <span class="input-group-text bg-white">
                                <span class="fa fa-eye text-dark"></span>
                            </span>
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="New Password">
                            <span class="input-group-text bg-white">
                                <span class="fa fa-eye text-dark"></span>
                            </span>
                        </div>
                        <div class="input-group mt-3">
                            <span class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Re-enter New Password">
                            <span class="input-group-text bg-white">
                                <span class="fa fa-eye text-dark"></span>
                            </span>
                        </div>
                        <div class="input-group" style="justify-content: center;">
                            <a href="dashboard.html" class="btn btn-light bg-pink border-0 btn-block mt-3  w-100">CHANGE
                                PASSWORD</a>
                        </div>
                    </div>
                </form>
            </div>

            <!--Change Password end-->
        </div>
    </div>
    <!--Artical end-->
</div>
<!--Body end-->