<!--Login start-->
<!-- <div class="w-30 m-auto">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
    <div class="text-center">
      <img src="assets/images/logo.svg" class="col-6" />
    </div>
    <div class="row login m-0">
      <h3 class="text-center">User Login</h3>
      <div class="input-group">
        <input
          type="text"
          class="form-control bg-transparent text-white p-0"
          placeholder="Enter User Name"
          formControlName="username"
          autocomplete="disabled"
        />
        <span class="input-group-text bg-transparent">
          <span class="fa fa-user"></span>
        </span>
      </div>
      <div class="input-group">
        <input
          [type]="show ? 'text' : 'password'"
          class="form-control bg-transparent text-white p-0"
          placeholder="Enter Password"
          formControlName="password"
          autocomplete="disabled"
        />
        <span class="input-group-text bg-transparent" (click)="show = !show">
          <span class="fa" [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"></span>
        </span>
      </div>
      <div class="input-group">
        <button
          type="submit"
          class="btn btn-light bg-pink border-0 mt-4 w-100 text-white p-0"
          [disabled]="signInForm.invalid"
          [ngClass]="isLoading ? 'p-1' : 'pt-2 pb-2'"
        >
          <i class="busy" *ngIf="isLoading"></i>
          <span *ngIf="!isLoading">LOGIN</span>
        </button>
      </div>
      <div class="col mt-4 text-center text-white">
        <span class="small me-2"> Not a member?</span>
        <a routerLink="/registration">JOIN NOW</a><br />
        <span class="small pt-3"> Powered by <img src="assets/images/betfair_logo.png" width="150px" /></span><br />
        
      </div>
    </div>
  </form>
</div> -->
<!--Login end-->


<div class="logins">
  <div class="w-30 m-auto">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
      <div class="text-center">
        <img src="assets/images/logo.svg" class="col-6" />
      </div>
      <div class="row login pt-3 form-signin m-0 px-2">
        <h3 class="text-center m-0">User Login</h3>
        <div class="form-floating mt-3">
          <!-- <input
            autocomplete="disabled"
            readonly
            onfocus="this.removeAttribute('readonly');"
            formControlName="username"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="User Name"
          /> -->
          <input
          type="email"
          class="form-control bg-transparent text-white "
          readonly
          onfocus="this.removeAttribute('readonly');"
          placeholder="Enter User Name"
          formControlName="username"
          autocomplete="disabled"
          id="floatingInput"
        />
            <span class="fa fa-user text-white bg-transparent"></span>
          <label for="floatingInput">User Name</label>
          
          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid name.
          </div>
        </div>
        <div class="form-floating mt-3">
          
          <input
          [type]="show ? 'text' : 'password'"
          class="form-control bg-transparent text-white"
          readonly
            onfocus="this.removeAttribute('readonly');"
          placeholder="Enter Password"
          formControlName="password"
          autocomplete="disabled"
        />
          <label for="floatingInput">Password</label>
          <span
            class="fa text-white"
            (click)="show = !show"
            [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"
          ></span>
        </div>
        <div class="input-group">
          <button
            [disabled]="signInForm.invalid || isLoading"
            class="btn bg-pink w-100 text-white rounded-pill mt-4"
          >
            {{ button }} &nbsp;<i
              class="fa"
              [ngClass]="{ 'fa-spin fa-spinner': isLoading }"
            ></i>
          </button>
        </div>
        <div class="col mt-4 text-center text-white">
          <!-- <a href="forgotpassword.html" class="text-white mb-3">Forgot Password</a><br>-->
          <span class="small me-2"> Not a member?</span>
        <a routerLink="/registration">JOIN NOW</a><br />
          <span class="small pt-3"> Powered by </span>
          <img src="assets/images/betfair_logo.png" width="150px" />
        </div>
      </div>
    </form>
  </div>
</div>
