<mat-toolbar color="primary" class="example-toolbar">

    <h1 class="example-app-name">{{accountBtn}} Account</h1>

    <span class="Matspacer"></span>


  </mat-toolbar>


  <mat-card>

  <div class="bg-white">
    <!-- <mat-dialog-content class="mat-typography"> -->
    <!-- <form #addClient="ngForm" (ngSubmit)="createAccount(addClient.value)"> -->
    <form [formGroup]="addClient" (ngSubmit)="submitUser()">

      <div class="row">
        <div class="col-md-6 mb-5">
          <div class="addclient" >
            <span class="badge bg-white text-dark">Account Details :</span>
            <div class="row">
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label> Account Type :</mat-label>
                  <mat-select [(value)]="role" formControlName="account" (valueChange)="onRoleSelect($event)" [disabled]="isEditMode">
                    <mat-option [value]="role.roleId" *ngFor="let role of rolesList">{{role.userRoleName}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div *ngIf="clientVali.account.touched && clientVali.account.invalid" >
                        <div *ngIf="clientVali.account.errors?.required" style="color: red;">Please select account type </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label>Name *</mat-label>
                  <input matInput formControlName="name" placeholder="" value="" />
                </mat-form-field>

                <div *ngIf="clientVali.name.touched && clientVali.name.invalid" >
                        <div *ngIf="clientVali.name.errors?.required"style="color: red;"> name required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="addclient">
            <span class="badge bg-white text-dark">Personal Details :</span>
            <div class="row">
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label>Username *</mat-label>
                  <input matInput formControlName="username" placeholder="">
                </mat-form-field>

                <div *ngIf="clientVali.username.touched && clientVali.username.invalid" >
                        <div *ngIf="clientVali.username.errors?.required"style="color: red;"> username required</div>
                      </div>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label>Password :</mat-label>
                  <input type="password" formControlName="password" [readonly]="isEditMode" matInput placeholder="">
                </mat-form-field>

                <div *ngIf="clientVali.password.touched && clientVali.password.invalid" >
                        <div *ngIf="clientVali.password.errors?.required " style="color: red;">		Password required</div>
                        <!-- <div *ngIf="clientVali.password.errors?.pattern">An English uppercase character (A-Z), An English lowercase character (a-z) ,
                          A number (0-9) and/or symbol (such as !, #, or %)
                         (8) or more characters total.</div> -->
                      </div>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label>Retype Password :</mat-label>
                  <input type="password" formControlName="repassword" [readonly]="isEditMode" matInput placeholder="">
                </mat-form-field>

                <div *ngIf="clientVali.repassword.touched && clientVali.repassword.invalid" >
                        <div *ngIf="clientVali.repassword.errors?.required"style="color: red;">		repassword required.</div>
                        <!-- <div *ngIf="clientVali.repassword.errors?.pattern">An English uppercase character (A-Z), An English lowercase character (a-z) ,
                          A number (0-9) and/or symbol (such as !, #, or %)
                         (8) or more characters total.</div> -->
                      </div>


              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label>Refrence Number :</mat-label>
                  <input matInput formControlName="refnumber"[readonly]="isEditMode" placeholder="Refrence Number">
                </mat-form-field>

                <div *ngIf="clientVali.refnumber.touched && clientVali.refnumber.invalid" >
                  <div *ngIf="clientVali.refnumber.errors?.required"style="color: red;">		refnumber required.</div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="addclient" >
            <span class="badge bg-white text-dark">Commission :</span>
            <div class="row px-5">
              <div class="col-md-12">
                <mat-label>Cricket/Soccor/tennis</mat-label>
              </div>
              <div class="col-md-12 mb-3">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <mat-label>Commission : M.O</mat-label>
                  </div>
                  <div class="col-2">
                    <input type="number" class="form-cont" formControlName="commission">
                  </div>
                  <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                      % <span class="text-bold"> (1%)</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="addclient" >
            <span class="badge bg-white text-dark">User Settings :</span>
            <div class="row">
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label>Max Bet :</mat-label>
                  <input type="number" matInput formControlName="maxbet" placeholder="">
                </mat-form-field>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field class="form-select" appearance="outline">
                  <mat-label>Max profit :</mat-label>
                  <input type="number" matInput formControlName="maxprofit" placeholder="">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
          <div class="mb-3 form-check newCheck">
            <label class="form-check-label text-bold" for="checkLimits">Check Limits</label>
            <mat-checkbox class="example-margin" formControlName="checkLimits"></mat-checkbox>
          </div>
          <br>
        <div class="col-md-6 mb-5">
          <div class="addclient" >
            <span class="badge bg-white text-dark">Sport & Casino Balance :</span>
            <div class="row">
              <div class="col-md-4 mb-3">
                <mat-form-field class="form-label" appearance="outline">
                  <mat-label>Credit Reference :</mat-label>
                  <input matInput formControlName="creditref" placeholder="Credit Refrence">
                </mat-form-field>
              </div>
              <div class="col-md-4 mb-3">
                <mat-form-field class="form-label" appearance="outline">
                  <mat-label>Amount Deposit :</mat-label>
                  <input type="number" matInput formControlName="amountdeposite" placeholder="Amount">
                </mat-form-field>
              </div>
              <div class="col-md-4 mb-3">
                <mat-form-field class="form-label" appearance="outline">
                  <mat-label>Deposit Remark :</mat-label>
                  <input matInput formControlName="depositeremark" placeholder="Remark">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="row align-items-end">
                <div class="col-md-8">
                  <mat-form-field class="form-select" appearance="outline">
                    <mat-label>Master Password :</mat-label>
                    <input type="password" formControlName="masterpassword" matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <button class="createAcc" mat-raised-button color="primary" > {{actionBtn}} </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</mat-card>




























































































  <!--



          <div class="addclient">
              <span class="badge bg-white text-dark">Sport & Casino Balance :</span>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="creditRefrence" class="form-label">Credit Refrence :</label>
                  <input type="text" class="form-control" id="creditRefrence" aria-describedby="creditRefrence" placeholder="Credit Refrence">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="ammountDeposite" class="form-label">Ammount Deposite :</label>
                  <input type="number" class="form-control" id="ammountDeposite" placeholder="Ammount">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="depositeRemark" class="form-label">Deposite Remark :</label>
                  <input type="text" class="form-control" id="depositeRemark" placeholder="Remark">
                </div>
              </div>
            </div> -->


















  <!--
                  <div class="col-md-12 row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-control">
                        <mat-label>Outline form field</mat-label>
                        <input matInput class="input " placeholder="placeholder">
                        <input matInput class="input " placeholder="  Search by client">

                      </mat-form-field>
                    </div>
                      <div class="col-md-6" >
                        <mat-form-field appearance="outline" class="form-control">
                        <mat-label>Outline form field</mat-label>
                        <input matInput class="input " placeholder="Placeholder">
                        <input matInput class="input" placeholder="  Search by client">

                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline" class="form-control">
                      <mat-label>Outline form field</mat-label>
                      <input matInput class="input " placeholder="Placeholder">
                      <input matInput class="input " placeholder="  Search by client">

                    </mat-form-field>
                  </div>
                    <div class="col-md-6" >
                      <mat-form-field appearance="outline" class="form-control">
                      <mat-label>Outline form field</mat-label>
                      <input matInput class="input " placeholder="Placeholder">
                      <input matInput class="input" placeholder="  Search by client">

                    </mat-form-field>
                  </div>
                    </div>


                   -->







  <!--

                    <div>
                      <div>
                      <mat-form-field color="primary" appearance="outline" class="field">
                        <mat-label>Account Details :</mat-label>
                        <h3>Horizontal position</h3>
                        <mat-select class="input" >
                          <mat-option value="start">Start</mat-option>
                          <mat-option value="center">Center</mat-option>
                        </mat-select>
                        <label>Horizontal position</label>

                         <input matInput class="input" placeholder="  Search by client">

                      </mat-form-field>

                      <mat-form-field appearance="outline" class="field">
                        <mat-label> Personal Details :</mat-label>
                        <input matInput type="text" class="input" placeholder="Placeholder">
                        <input matInput type="text" class="input" placeholder="Placeholder">
                        <input matInput type="text" class="input" placeholder="Placeholder">
                        <input matInput type="text" class="input" placeholder="Placeholder">

                      </mat-form-field>
                    </div>

                        <div>

                          <mat-form-field appearance="outline" class="field">
                            <mat-label>Commission :</mat-label>
                            <input matInput class="input" placeholder="Placeholder">

                          </mat-form-field>

                          <mat-form-field appearance="outline" class="field" value="true">
                            <mat-label>User Settings :</mat-label>
                            <input matInput class="input" placeholder="Placeholder">
                            <input matInput class="input" placeholder="Placeholder">

                          </mat-form-field>

                        </div>

                        <section class="example-section">


                          <mat-checkbox class="example-margin" [(ngModel)]="checked">    Checked</mat-checkbox>
                        </section>

                        <div>

                          <mat-form-field appearance="outline" class="field" >
                            <mat-label>Sport & Casino Balance</mat-label>
                            <input class="input" matInput placeholder="Placeholder">
                            <input matInput class="input" placeholder="Placeholder">
                            <input matInput class="input" placeholder="Placeholder">

                          </mat-form-field>


                        </div>
                        <input matInput class="input" placeholder="  Search by client">
                        <button class="createAcc" mat-raised-button color="primary" routerLink="createAcc"> Create Account</button>

                      </div> -->
